// This file was generated for Start Bootstrap UI Kit Pro
// https://startbootstrap.com/theme/sb-ui-kit-pro
// Place this file in src/scss/_variables-colors-overrides.scss

$primary: #655019;
$secondary: #6c87ff;
$success: #00ac69;
$info: #f8be19;
$warning: #9b7328;
$danger: #e81500;
