// This file was generated for Start Bootstrap UI Kit Pro
// https://startbootstrap.com/theme/sb-ui-kit-pro
// Place this file in src/scss/_variables-colors-overrides.scss

$primary: #f53b57;
$secondary: #ff793f;
$success: #05c46b;
$danger: #dd433a;
$warning: #ffa801;
$info: #575fcf;
